.App {
  text-align: center;
}

.home-button {
  position: absolute !important;
  top: 10px !important;
  left: 10px !important;
}

@media screen and (max-width: 400px){
  
  .home-button{
    left: 50% !important;
    transform: translateX(-50%);
  }
}